<div class="row">
    <div class="col-3">
        <div class="row">
            <label>Img Name</label>
            <input #assetName />
            <button (click)="addAsset(assetName.value)">Add Asset</button>
        </div>

        <div class="container" *ngIf="assets">
            <div class="row" *ngFor="let a of assets">
                <div class="col">{{a.id}}</div>
                <div class="col">{{a.name}}</div>
                <div class="col">{{a.category}}</div>
            </div>
        </div>
    </div>
    <div class="col-9"></div>
</div>

